header {
  position: sticky;
  top: 0;
  width: fill;
  height: 4rem;
  padding: 0 2rem;

  border-top: none !important;
  background: var(--c1-d);
  border-bottom: var(--border-size) solid var(--c1-l);
  color: var(--c-light);

  display: grid;
  grid-template-columns: auto min-content min-content min-content;
  align-items: center;
  gap: var(--spacing);
}

header > h1 {
  margin: 0;
}

header > h1 > a {
  color: var(--c-light);
  text-decoration: none;
  cursor: pointer;
}
