.item {
    background: #ffffff;

    display: grid;
    grid-template-columns: auto;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 350px;
    border-radius: var(--spacing);
}

.item > img {
    justify-self: center;
}

.item-price {
    min-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: var(--spacing);
    border-top: 8px solid var(--c-light);
    align-items: center;
}

.adjustQuantity {
    display: flex;
    align-items: center;
    gap: 1rem;
}