#LandingPage {
  background-image: url('../img/antiques.jpeg');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#LandingPage .SearchBegins {
  /* position the element */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* position the children elements */
  display: flex;
  align-items: center;
  gap: var(--spacing);
  
  /* style box */
  background-color: var(--c1-d);
  padding: var(--spacing);
  border-radius: var(--spacing);
  color: var(--c-light);
}

#LandingPage .SearchBegins a {
  background-color: var(--c1-l);
  width: 8rem;
  height: 2rem;
  border: none;
  border-radius: var(--spacing);
  text-align: center;
  line-height: 2rem;
  text-decoration: none;
  color: var(--c-light);
}

#LandingPage .SearchBegins a:hover {
  background-color: var(--c2-l);
}