button,
div.button,
a.button {
  width: 8rem;
  height: 2rem;
  border: none;
  border-radius: var(--spacing);
  text-align: center;
  line-height: 2rem;
  text-decoration: none;
  color: var(--c-light);
  cursor: pointer;
}

button,
a.button {
  background-color: var(--c1-l);
}

.item-price > button {
  align-self: center;
}

button:hover,
div.button:hover,
a.button:hover {
  background-color: var(--c2-l);
}

div.button:hover {
  width: 8rem;
  height: 2rem;
  border: none;
  border-radius: var(--spacing);
  text-align: center;
  line-height: 2rem;
  text-decoration: none;
  color: var(--c-light);
}

.addsub {
  min-width: 2rem;
  width: 2rem;
}