a.button {
    background-color: var(--c1-l);
    width: 8rem;
    height: 2rem;
    border: none;
    border-radius: var(--spacing);
    text-align: center;
    line-height: 2rem;
    text-decoration: none;
    color: var(--c-light);
  }
  
  a.button:hover {
    background-color: var(--c2-l);
  }